body { 
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: 1em;
    font-family: sans-serif;
}
.pageHeader {
    display: flex;
    justify-content: center;
    margin: 0 25%;
}
.pageHeader p {
    text-align: justify;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    flex: 1;
    border: 2px solid #3f3;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}
h4, h3, h2 {
    text-align: left;
}

h2, h3 {
    margin: 0;
}

h4 b{
    color: #3f3;
    font-weight: bold;
}

.flex-item:hover {
    box-shadow: 0 0 150px #4e4;
}

.flex-container img {
    max-height: 150px;
}
form{
    display: flex;
    justify-content: center;
}
.btn-comprar {
    background-color: #4e4;
    border: none;
    padding: 10px 30px;
    margin: 20px 0;
    letter-spacing: 5px;
}